{% extends 'layouts/base-fullscreen.html' %}
{% block title %} Enter OTP {% endblock title %}
{% block stylesheets %}
<style>
  #sign_in_loader {
    height: 14px !important;
    width: 14px;
    margin-left: 10px;
  }
  .message {
    font-size: 13px;
    padding:5px;
    background:#eee;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
{% endblock stylesheets %}
{% block content %}
<main class="main-content mt-0" style='border:1px solid rgba(0,0,0,.05);margin:5px;'>
  <section>
    <div class="page-header min-vh-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-8">
              <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="font-weight-bolder text-info text-gradient mb-3">
                  Tabmedico - Enter OTP
                </h3>
                <br>
                {% if message %}
                <p class="mb-0 text-danger message text-center">{{message}}</p>
                {%endif%}
              </div>
              <div class="card-body">
                <form role="form" method="POST" id="form">
                  {% csrf_token %}
                  <div class="mb-3">
                    <input type="number" class="form-control" placeholder="Enter OTP" aria-label="phone"
                    pattern="[0-9]*" inputmode="numeric"aria-describedby="phone" name="otp" required>
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                    <label class="form-check-label" for="rememberMe">Agree terms & conditions</label>
                  </div>
                  <div class="text-center" id='submit-div'>
                    <button type="submit" class="btn bg-info w-100 mt-4 mb-0 text-light" id='submit_btn'>Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
              <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                style="background-image:url('/static/assets/img/curved-images/curved6.jpg')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
  $('#submit_btn').click(function () {
    console.log(document.getElementById('submit_btn').innerHTML = `Submit <span class="spinner-border" role="status" 
    id='sign_in_loader'>
  </span>`)
  });
</script>
{% endblock javascripts %}