
    <nav class="navbar navbar-main navbar-expand-lg" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid  px-3">
        <nav aria-label="breadcrumb">
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <form id='back_btn' style='display:none;'>
            <span type="button" id='back_button' onclick="history.back()">
              <span id="back_arrow"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
            </span>
          </form>

          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <ul class="navbar-nav loco" style='font-size:13px;font-weight:700;margin-left:30px;color:#000080;'>
              <li class="nav-item ">TabMedico</li></ul>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center logout_icon">
              <a href="{% url 'logout' %}" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">LOGOUT</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center" >
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav" >
              <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <li class="nav-item dropdown pe-2 px-3 d-flex align-items-center">
              {%if app_user_type == 'store_owner' %}
              <a href="/store-notifications" class="nav-link text-body p-0" >
                {%else%}
              <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"
              onclick='ShowNofi()'>
              {%endif%}
                <i class="fa fa-bell cursor-pointer"></i>
              </a>
              <ul class="notification_menu dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton"
              id='noti_popup'>
               
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
