@charset "utf-8";
/* CSS Document */

html,body{
	position:relative;
	height:100%;}
	
	body{
		
		font-family:Monospace;
		background-color:rgba(241,241,241,1.00);}
		.main_start{
		background-color: #F5F5F5;
	  border: solid #DCDCDC;
	  border-width: 1px;padding: 10px;margin-left: 20px;margin-right: 20px;
		}

		.swiper-slide1{
			width:220px !important;
			 }
		.slider-box1{
			margin:30px;
			padding: 10px;
			height:220px;
			width:200px;
			/*position:relative;*/
			background-color:#FFFFFF;
			border-radius:3px;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			text-align:center;
			/*border:1px solid rgba(187,187,187,0.40);*/
			border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
		
			}
			.slider-box1 a{
				text-decoration:none;
				text-align:center;}
				.img-box1{
					height:100px;
					width: 100%;
					width: 100%;margin: auto;display: block;
					}

					.img-box1 img{
						height:auto;
						max-width:100%;
						max-height:100%;
							}
						#item_name{
							font-size: 12px; 
							font-weight: bold;
							padding-top: 5px;
							border: none;
							margin-bottom: 2px;
						}
  						#item_see_more{
  							float: right;
  						}
						.time{
							position:absolute;
							top:0px;
							right:20px;
							color:#f16007;}
							.detail{
								display:flex;
								flex-direction:column;
								align-items:center;
								box-sizing:border-box;
								font-size:13px;
								line-height:35px;}
								.price{
									color:#FFFFFF;
									background-color:#ff555b;
									 line-height:20px;}
									 .cart{
										 position:absolute;
										 bottom:0px;
										 height:45px;
										 background-color:#ff696e;
										 width:100%;
										 display:flex;
										 justify-content:center;
										 align-items:center;}
										 .cart a{
											 color:#FFFFFF;}
											 .slider-box1:hover{
												 box-shadow:2px 2px 12px rgba(47,47,47,0.40);
												 }
												 .slider-box1:hover .img-box1 img{
													 transform:scale(1.07);
													 transition:all ease 0.3s;
													}
													 .cart:hover{
														 transform:scale(1.1);
														 background-color:#fe9048;
							box-shadow:2px 2px 12px rgba(47,47,47,0.40);
							transition:all ease 0.1s;}
							
							
							.swiper-slide1 h6{
						font-weight: bold;
						font-size: 15px;
						margin-top: 15px;
					}
							
							.heading{
								display:flex;
								justify-content:center;
							}
							.heading h1{
								/*border-left:2px solid #000000;*/
								/*Border-right:2px solid #000000;*/
								background-color:light;
								text-shadow:2px 2px 12px rgba(69,66,66,0.3);
								padding:0px 10px;
								color:dark;
								margin:20px;
								font-size:30px;
								font-family:calibri;}



@media screen and (max-width: 768px) {
	.main_start{
		background-color:#fff;
	    border-radius: 0px !important;
       	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
		padding: 0px !important;
		margin:0px  !important;
	}
	.swiper-slide1{
			width:145px !important;
			 }
		.slider-box1{
			margin-bottom: 10px;
			margin-left: 2px;
			margin-top: 5px;
			padding: 3px;
			height:190px;
			width:140px;
			/*position:relative;*/
			background-color:#FFFFFF;
			border-radius:3px;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			text-align:center;
			border-radius: 1.5em;
       		box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
			}
 			.img-box1{
 					margin-top: 10px;
					height:70px;
					
					width: 100%;
					margin: auto;display: block;
					}
					.swiper-slide1 h6{
						font-weight: bold;
						font-size: 9px;
						margin-top: 3px;
					}
					#item_name{
							font-size: 11px; 
							font-weight: bold;
							padding-top: 5px;
							border: none;
							margin-bottom: 2px;
						}
  					#item_address{
  						text-decoration:none;
  						font-size: 10px;
  						 margin:2px;
  						 font-weight: 500;
  					}
}
