{% extends 'app-view/user/layouts/base.html' %}

{% block title %} Home {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>

 
  /* Prescription- div */

.image_upload_block2{
  margin:10px ;
  text-align:center;
  
}
.image_upload_block2 p{
  margin-bottom:3px;
  margin-top:0px;
  top:10px;
  text-align:center;
}
#upload_button2{
  border:1px solid #000080;
  width:160px !important;
  background-color: #FFFFFF;
  color:#000080;
  font-size:13px;
  font-weight:700;
  padding:5px;
  border-radius:1.5rem;
}
#upload_button2 i{
font-size:13px;
}
#upload_button2:hover {
  background-color: #000080;
  color: #FFFFFF;
  border: solid #FFFFFF;
  border-width: 1px ;
}
#upload_button2:focus{
  outline:none;
  border: solid #89dee2;
  border-width: 1px ;
}
.main_start{
  display: block;
  margin-top: 0px;
  background:#FFFFFF;
  border-radius: 1.5rem;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
padding:5px;
margin:0px;
}
.main_start .card{
  height: 14rem;
  border:1px solid #000080;
  width:10rem;
}
.main_start .img-box1{
  height:130px;
}
.main_start h4{
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  color:#000080;
  font-weight:700;
}
.distance_km h4{
  font-size: 12px;
  margin-bottom: 5px;
  font-size: 12px;
  color:#000080;
  background: #FFFFFF;
  border: 1px solid #000080;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
}
@media screen and (max-width: 990px) {
.div_img
{
  display: none;
}
.card1{
display: none;
}
#top_button{
  display: block !important;
}
}
</style>
{% endblock stylesheets %}
{% block content %}
<br>
  <div class="col-lg-5">
    <div class="card h-100 p-3">
      <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100" style="background-image: url('/static/assets/img/bg_medical.jpg');">
        <span class="mask bg-gradient-dark"></span>
        <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
          <h5 class="text-white font-weight-bolder mb-4 pt-2">Order medicinnes</h5>
          <p class="text-white">From near by medicals.</p>
          <span><img src="https://media.gettyimages.com/photos/pharmacist-at-counter-picture-id71918904?s=612x612"
            style="height: 100px;width:120px;border-radius:50px;position: absolute;top:18px;right:20px;box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;"></span>
          <p class="text-dark text-sm font-weight-bold mb-0 icon-move-right mt-auto"  style="background:#fff;padding:5px;border-radius: 1.5rem;padding-left: 10px;width:150px">
            Superfast delivery</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid ">
  <div class="col-12 mt-4">
    <div class="card mb-4">
      <div class="image_upload_block2">
      <span>
      <a href="/app-view/home/select-location">
        <p> We'll Deliver It At Your Doorstep Safely</p> 
        <button id='upload_button2'>Order Medicines</button></a></span>
        </div>
</div>
  </div>
</div>
     
      {% include "includes/footer.html" %}  
    
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}


  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Mobile apps",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 6

          },
          {
            label: "Websites",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#3A416F",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>

{% endblock javascripts %}
