{% extends 'app-view/user/layouts/base.html' %}
{% block title %} Myorders {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .main_div {
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        padding: 15px;
        margin: 10px;
    }

    .main_div h2 {
        font-size: 15px;
        font-weight: bolder;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .main_div th {
        font-size: 11px;
    }

    .main_div td {
        font-size: 11px;
        /*text-align: center;*/
    }
</style>
{% endblock stylesheets %}
{% block content %}
<div class="container-fluid px-3 mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>My Orders</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Chemist Name</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Status</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Date</th>
                                    <th class="text-secondary opacity-7"></th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for i in myorders %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <a href="/app-view/order-tracker/{{i.id}}">
                                                    <img src="https://th.bing.com/th/id/OIP.H-QL_6Ujz1l0gPSmdV4i8AHaE8?pid=ImgDet&rs=1"
                                                        class="avatar avatar-sm me-3" alt="user1">
                                                </a>
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <a href="/app-view/order-tracker/{{i.id}}">
                                                    <h6 class="mb-0 text-sm">{{i.s_name}}</h6>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center text-sm" style="font-size: 12px;">
                                        {% if i.order_completed == True %}
                                        <span class="badge badge-sm bg-gradient-success">Completed</span>
                                        {%else%}
                                        <span class="badge badge-sm bg-gradient-danger">Pendding</span>
                                        {%endif%}
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{i.date}}</span>
                                    </td>
                                    {% if i.order_completed == True %}
                                    {%else%}
                                    {%if i.is_cancelled == True %}
                                    <td class="align-middle text-center text-sm w-50" style="font-size: 12px;">
                                        <span class="badge badge-sm bg-gradient-danger p-2" type='button'>
                                            &nbsp;Cancelled </span>
                                    </td>
                                    {%else%}
                                    <td class="align-middle text-center text-sm " style="font-size: 12px;"
                                        data-bs-toggle="modal" data-bs-target="#modalConfirmDelete">
                                        <span class="cancel_ord badge badge-sm bg-primary p-2" type='button'
                                            id="{{i.id}}">Cancel Order</span>
                                    </td>
                                    {%endif%}
                                    <!--Modal: modalConfirmDelete-->
                                    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                                            <!--Content-->
                                            <div class="modal-content text-center">
                                                <!--Header-->
                                                <div class="modal-header d-flex justify-content-center bg-danger ">
                                                    <p class="heading text-light text-bold">Are you sure you want to
                                                        cancel this order ?</p>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post">
                                                        {%csrf_token%}
                                                        <input type="hidden" value="" name='inputid' id="inputid">
                                                        <button class="btn  btn-outline-danger"
                                                            type="submit">Yes</button>
                                                    </form>
                                                    <p type="button" class="btn  btn-danger waves-effect"
                                                        data-bs-dismiss="modal" aria-label="Close">No</p>
                                                </div>
                                            </div>
                                            <!--/.Content-->
                                        </div>
                                    </div>
                                    {%endif%}
                                </tr>
                                {%endfor%}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>









</div>
</div>
<br>

<!--Modal: modalConfirmDelete-->
<hr class="line1">
{% include "includes/footer.html" %}
</div>

{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    $('.cancel_ord').on('click', function () {
        var clickedid = this.id;
        document.getElementById('inputid').value = clickedid;
    });
</script>
{% endblock javascripts %}